.btn {
    color: $secondary-font-color;
    font-size: 30px;
    border-radius: 20px;
}

.btn-send {
    border: 2px solid $default-border-color;
    padding: 25px 70px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.btn-newsletter {
    width: 363px;
    height: 81px;
    border: 2px solid $default-border-color;
    background: $secondary-background-color;
    margin-top: 25px;
}