header {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 70px;
    width: 196px;
    margin-left:339px;
    margin-right: 147px;
}

.links {
    font-weight: 500;
    }

ul {
    display: inline-flex;
    text-decoration: none;
    width: 642px;
    }

li {
    list-style-type: none;
    font-weight: 700;
    margin-right: 40px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: $default-font-color;
}

li a:hover {
    color: $hover-font-color;
}

.language {
    margin: 43px 337px 43px 123px;
}

.language select {
    padding: 10px 20px;
    border: 1px solid $default-border-color;
    border-radius: 10px;
}

