@media only screen and (max-width: 1200px) {
    header .logo {
        margin-left: 32px;
    }
}

@media only screen and (max-width: 992px) {
    .links {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    header .logo {
        margin-left: 32px;
    }

    header .language {
        margin-right: unset;
    }

    .section-2 .photo:nth-of-type(1) {
        flex: 100%;
    }

    .section-2 .photo:nth-of-type(2) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(3) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(4) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(5) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(6) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(7) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(8) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(9) {
        flex: 50%;
    }

    .section-2 .photo:nth-of-type(10) {
        flex: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .links {
        display: none;
    }

    header .logo {
        height: 54px;
        width: 150px;
        margin-left: 32px;
    }

    .section-2 {
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #menuToggle span  {
        display: none;
    }

    #menuToggle {
        display: inline-flex;

    }

    // .links {
    //     display: inline-block;
    // }

    #menuToggle #menu:not(:first-child) {
        display: inline-block;
    }
}