.section-4 {
    display: flex;
    justify-content: center;
    height: 863px;
    background: $secondary-background-color;
}

// .section-4 input {
//     flex-direction: row;
// }

// .floating-label-field {
//     border-width: 0;
//     border-radius: 1rem;
//     color: rgba(#2c3e50, 0.75);
//     border-bottom: 3px solid rgba(white, .05);
//     background-color: transparent;
//     color: rgba(white, 0.75);
//     &:focus {
//       outline: 0;
//       box-shadow: 0;
//     }

//     &::placeholder {
//       color: transparent;
//     }
//   }


//   .floating-label-field {
//       & + .floating-label {
//           bottom: 0;
//           left: -250px;
//           user-select: none;
//           transition: transform 0.25s, opacity .25s ease-in-out;
//           transform-origin: 0 0;
//           opacity: 0.5;
//         }
//     }

//     .floating-label-field {
//       &,
//       & + .floating-label {
//         line-height: 1;
//         font: inherit;
//         padding: 1.5em;
//         height: 60px;
//         width: 500px;
//         // position: relative;
//       }
//     }

//    .floating-label-field {
//     &:focus,
//     &:not(:placeholder-shown) {
//       border-color: rgba(white, .1);
//       & + .floating-label {
//         transform: translate(1%, -30%) scale(.8);
//         opacity: .25;
//       }
//     }
//   }

//   .floating-label-input {
//     &:valid {
//       &:not(:placeholder-shown) {
//         border-color: rgba(#2ed573, .3);
//       }
//     }

//     &:invalid {
//       border-color: rgba(#ff4757, .3);
//     }
//   }


//   .floating-label-field {
//     &,
//     & + .floating-label {
//       position: relative;
//     }
//   }

//   .floating-label-field {
//     border-bottom: 3px solid rgba(white, .05);
//     background-color: $default-background-color;
//     color: rgba($default-font-color, .75);
//   }

//   .floating-label-field {
//     & + .floating-label {
//       transition: transform .25s, opacity .25s ease-in-out;
//       transform-origin: 0 0;
//       opacity: .5;
//     }
//    }







   .floating-label-field {
    border-width: 0;
    color: rgba(#2c3e50, .75);
    &:focus {
      outline: 0;
      box-shadow: 0;
    }

    &::placeholder {
      color: transparent;
    }
  }

  .floating-label-field {
    &,
    & + .floating-label {
      line-height: 1;
      font: inherit;
      padding: 1.5em;
      height: 4em;
    }
  }

  .floating-label-field {
    & + .floating-label {
      position: absolute;
      top: 0;
      left: 0;
      user-select: none;
    }
  }

  .floating-label-field {
    &,
    & + .floating-label {
      position: relative;
    }
  }

  .floating-label-field {
    border-bottom: 3px solid rgba(white, .05);
    background-color: transparent;
    color: rgba(white, .75);
  }

  .floating-label-field {
    & + .floating-label {
      transition: transform .25s, opacity .25s ease-in-out;
      transform-origin: 0 0;
      opacity: .5;
    }
   }

   .floating-label-field {
    &:focus,
    &:not(:placeholder-shown) {
      border-color: rgba(white, .1);
      & + .floating-label {
        transform: translate(1%, -30%) scale(.8);
        opacity: .25;
      }
    }
  }

  .floating-label-input {
    &:valid {
      &:not(:placeholder-shown) {
        border-color: rgba(#2ed573, .3);
      }
    }

    &:invalid {
      border-color: rgba(#ff4757, .3);
    }
  }