.section-3 {
    height: 500px;
    background-color: $default-background-color;
    margin-top: 92px;
}

.section-3 .icons {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-flow: row wrap;
    max-width: 1241px;
    margin: 0 auto;
}

.section-3 .icons .icon {
    flex: 1 1 calc(20% - 94px);
    // margin-right: 47px;
    // margin-bottom: 46px;
    margin-bottom: 45px;
    // color: black;
    justify-content: space-between;
    align-items: space-between;
    padding: 55px 45px;
    max-width: 211px;
    max-height: 221px;
}


.section-3 .icons .icon:nth-of-type(even) {
    background: #e6e6e6;
    // margin-right: 46px;
}

.section-3 .icons .icon:nth-child(odd) {
    background: #f6f6f6;
    // margin-right: 46px;
}

.section-3 .icons .icon:nth-child(5n)
.section-3 .icons .icon:nth-child(5n+1) {
    margin-right: 0;
    background: purple;
    color: purple;
}

.icons img:nth-child(2) {
    filter: invert(45%) sepia(46%) saturate(653%) hue-rotate(202deg) brightness(88%) contrast(99%);
}

// .section-3 .icons .icon img:nth-of-type(odd) {
//     filter: invert(45%) sepia(46%) saturate(653%) hue-rotate(202deg) brightness(88%) contrast(99%);
// }