.section-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $secondary-background-color;
  margin-bottom: 77px;
}

.section-4-upper {
  font-size: 94px;
  color: $secondary-font-color;
  padding-top: 64px;
  margin-bottom: 68px;

}

.section-4-upper hr {
  width: 68px;
  border-width: 5px;
  background: $default-background-color;
  border-radius: 10px;
}

.section-4-form {
  margin: 0 auto;
  max-width: 1241px;
}

.section-4-form .radio {
  display: block;
  color: $secondary-font-color;
  position: relative;
  top: -160px;
  left: 0;
  text-align: left;
}

.section-4-form .radio p:first-of-type {
  font-size: 24px;
}

.section-4-form .radio p:not(:first-of-type) {
  display: flex;
  align-items: center;
}

.section-4-form .radio label {
  padding-left: 26px;
}

.section-4-form .radio input {
  width: 20px;
  height: 20px;
}

.section-4-form .radio input:checked {
  background: #000;
}

.floating-label-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.floating-label-wrap input:nth-of-type(4) {
  height: 246px;
}

.floating-label-wrap input:nth-of-type(3) {
  position: relative;
}

.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, .75);
  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &::placeholder {
    color: transparent;
  }
}

.floating-label-field {
  &,
  & + .floating-label {
    line-height: 1;
    font: inherit;
    padding: 1.5em;
    height: 4em;
  }
}

.floating-label-field {
  & + .floating-label {
    position: absolute;
    top: 0;
    left: -500px;
    user-select: none;
  }
}

.floating-label-field {
  &,
  & + .floating-label {
    position: relative;
  }
}

.floating-label-field {
  border-bottom: 3px solid $default-border-color;
  background-color: $default-background-color;
  color: $default-font-color, .75;
  height: 60px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 37px;
}

.floating-label-field {
  & + .floating-label {
    transition: transform .25s, opacity .25s ease-in-out;
    transform-origin: 0 0;
    opacity: .5;
  }
  }

  .floating-label-field {
  &:focus,
  &:not(:placeholder-shown) {
    border-color: rgba(white, .1);
    & + .floating-label {
      transform: translate(1%, -50%) scale(.7);
      color: white;
    }
  }
}

.floating-label-input {
  &:valid {
    &:not(:placeholder-shown) {
      border-color: rgba(#2ed573, .3);
    }
  }

  &:invalid {
    border-color: rgba(#ff4757, .3);
  }
}

.section-4-lower {
  color: $secondary-font-color;
}


.section-4-lower .section-4-lower-checkbox label {
  margin-left: 23px;
  position: relative;
}

.section-4-lower-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-4-lower .section-4-lower-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.section-4-lower .section-4-lower-checkbox .checkbox-button-control {
  position: absolute;
  top: 0;
  left: -30px;
  height: 20px;
  width: 20px;
  background-color: $default-background-color;
}

.checkbox-button:checked+.checkbox-button-control {
  border-color: rgb(153, 34, 137);
}

.section-4-lower .section-4-lower-checkbox .checkbox-button-control:after {
  content: "";
  position: absolute;
  display: none;
}

.section-4-lower .section-4-lower-checkbox input:checked ~ .checkbox-button-control:after {
  display: block;
  color: #000;
}

.section-4-lower .section-4-lower-checkbox .checkbox-button-control:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid $default-font-color;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.section-4-lower .section-4-lower-checkbox .checkbox-button-label {
  padding-left: 23px;
}