.section-3 {
    height: 500px;
    background-color: $default-background-color;
}

.section-3 .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
    max-width: 1241px;
}

.section-3 .icons .icon {
    display: flex;
    width: 211px;
    height: 211px;
    flex: 20%;
    min-width: 20%;
    min-height: 20%;
    margin: 47px;
    color: black;
    justify-content: center;
    align-items: center;
}

.section-3 .icons .icon:nth-of-type(even) {
    background: #e6e6e6;
}

.section-3 .icons .icon:nth-of-type(odd) {
    background: #f6f6f6;
}
